#canvas-container {
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
}

.control-panel {
    background-color: black;
    border: solid 1px black;
    color: aliceblue;
    width: 25%;
    height: 1000px;
    position: absolute;
    right: 0;
    top: 0;

}

.control-panel-field {
    margin-top: 10px;
    margin-left: 5px;
}

.control-panel-header {
    font-size: 22px;
    display: block;
}
.control-panel-tip {
    display: block;
}

.checkboxes-list {
    background: #330000;
    padding: 10px 10px 0 10px;
    height: 180px;
    overflow-y: scroll;
}

#tooltip_window {
    position: fixed;
    right: 25%;
    top: 0;
    width: 220px;
    height: 150px;
    border: dashed 0px white;
    border-bottom-left-radius: 10px;
    padding: 5px;
    background-color: lightcoral;
    opacity: 0.75;
    visibility: hidden;
}